.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle-app.setting
.gradletasknamecache

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
.idea/
*.iml
*.iws
*.ipr
out/
.classpath
.project
.settings/
.externalToolBuilders
bin/
maven-eclipse.xml
.vscode/
.DS_Store
Thumbs.db
*.orig
*.log
*.log.*

dubbo-rpc/dubbo-rpc-api/custom-access.log*
*.tmp
*.cache
*.diff
*.patch
*.swp
*~

test-output/
license-list


compiler/gradle.properties
compiler/build/*
compiler/.gradle/*
dubbo-serialization/dubbo-serialization-protobuf/build/*
dubbo-demo/dubbo-demo-triple/build/*

.tmp
.git.exec.error
